doctype html
html
    head
        title #{title} - XX学堂
        link(rel='stylesheet', href='/css/main.css')
        script(type="text/javascript", src="/jslib/jquery.js")
        script(type="text/javascript", src="/js/common.js")
    body
        block content